{% load static %}
<!-- bu bize static dosyaları ulastırıyor -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shopping/css/style.css' %}"> 
    <!-- kabaca bu sekilde static keywordu ve dosya adı ile ilgili static dosyasını çekiyoruz -->
    {% block cssArea %} {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <!-- artık spesifik olusturucaz her uygulama kendisine burayı base alacak
        block content ile tanımlı yerlere kendi ozelliklerini iletecek -->
    {% block main %}

    {% endblock %}


    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>