{% extends "base.html" %}
<!-- bu sekilde basemizi dahil ediyoruz -->

{% load static %}
<!-- static dosyaları gormesi icin -->

{% block cssArea %} <link rel="stylesheet" href="{% static 'shopping/css/style.css' %}"> {% endblock %}

{% block title %} Ana Sayfa {% endblock %}

<!-- bu sekilde base de ilgili yere spesifik html ekledik -->
{% block main %}
    <h1 class="display-1">Home Page</h1>
    <h2>selam</h2>
    <img src="{% static 'shopping/img/pc.png' %}" alt="Ressim Bulunumadı">
    <!-- temel olarak app e ozgu static dosyalar bu sekilde getirilebilir -->
{% endblock %}