{% extends "base.html" %}
<!-- bu sekilde basemizi dahil ediyoruz -->

{% load static %}
<!-- static dosyaları gormesi icin -->

{% block cssArea %}
<link rel="stylesheet" href="{% static 'shopping/css/style.css' %}"> {% endblock %}

{% block title %} Ana Sayfa {% endblock %}

<!-- bu sekilde base de ilgili yere spesifik html ekledik -->
{% block main %}


<!-- main start  -->
<main>
    <div class="mt-4 mx-3">
        <div class="row">



            <!-- categories start -->


            <div class="col-sm-3">
                <form action="">

                    <div class="row mb-4">
                        <center>
                        <button type="submit" class="btn btn-outline-light" id="uygula"
                            style="background-color: orange;">Uygula</button>
                        </center>
                    </div>

                    <div class="row mb-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="fw-bold">Marka</p>
                            </li>
                            <li class="list-group-item a">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                Asus
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                Monster
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                Apple
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                Lenovo
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                Dell
                            </li>
                        </ul>
                    </div>

                    <div class="row mb-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="fw-bold">İşlemci</p>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                i3
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                i5
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                i7
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                i9
                            </li>
                        </ul>
                    </div>

                    <div class="row mb-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="fw-bold">Ram</p>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                2GB
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                4GB
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                8GB
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                16GB
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                32GB
                            </li>
                        </ul>
                    </div>

                    <div class="row mb-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="fw-bold">Ekran Boyutu</p>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                12
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                13.6
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                14.5
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                16.7
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                20
                            </li>
                        </ul>
                    </div>

                </form>


            </div>

            <!-- categoriens end -->

            <!-- products start -->

            <div class="col-sm-9">

                <!-- stats start -->
                <div class="row myPaddingForSpecialRow mb-2">

                    <div class="col-sm-4 border rounded-pill ">
                        <center>
                            <i class="fa fa-usd" aria-hidden="true"></i>
                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            En Yüksek Fiyat
                        </center>
                    </div>
                    <div class="col-sm-4 border rounded-pill">
                        <center>
                            <i class="fa fa-usd" aria-hidden="true"></i>
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            En Düşük Fiyat
                        </center>
                    </div>
                    <div class="col-sm-4 border rounded-pill">
                        <center>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            En Yüksek Puan
                        </center>
                    </div>

                </div>
                <!-- stats end -->


                <!-- laptop start -->


                <!-- include partial ile uygulama yonetşmşnş kolaylaştırıyoruz
                    pc leri ditek frame part altından çekiyoruz -->



                {% for product in products %}
                {% include 'shopping/framePart/pc.html' %}

                <hr>
                {% endfor %}

                <!-- her product direkt shopping framePart pc.html icersinde yollanır bilgiler -->

                <!-- laptop ends -->



                <!-- pagination split -->
                <div class="container">

                    <nav aria-label="...">
                        <ul class="pagination" style="margin-left:330px;">
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>

                </div>
                <!-- paginaton split end -->

            </div>

            <!-- product end -->

        </div>

</main>
<!-- main stop  -->

{% endblock %}