{% extends "base.html" %}
<!-- bu sekilde basemizi dahil ediyoruz -->

{% load static %}
<!-- static dosyaları gormesi icin -->

{% block cssArea %}
<link rel="stylesheet" href="{% static 'shopping/css/style.css' %}"> {% endblock %}

{% block title %} Ana Sayfa {% endblock %}

<!-- bu sekilde base de ilgili yere spesifik html ekledik -->
{% block main %}


<!-- main start  -->
<main>
    <div class="mt-4 mx-3">
        <div class="row">



            <!-- categories start -->


            <div class="col-sm-3">
                <form action="">

                    <div class="row mb-4">
                        <center>
                        <button type="submit" class="btn btn-outline-light" id="uygula"
                            style="background-color: orange;">Uygula</button>
                        </center>
                    </div>

                    <div class="row mb-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="fw-bold">Marka</p>
                            </li>

                            {% for marka in markas %}
                            <li class="list-group-item a">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                {{ marka }}
                            </li>
                            {% endfor %}

                        </ul>
                    </div>

                    <div class="row mb-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="fw-bold">İsletim Sistemi</p>
                            </li>

                            {% for isletimSistemi in isletimSistemis %}
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                {{ isletimSistemi }}
                            </li>
                            {% endfor %}

                        </ul>
                    </div>

                    <div class="row mb-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="fw-bold">İslemci Tipi</p>
                            </li>
                            
                            {% for islemciTipi in islemciTipis %}
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                {{ islemciTipi }}
                            </li>
                            {% endfor %}

                        </ul>
                    </div>

                    <div class="row mb-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="fw-bold">İslemci Nesli</p>
                            </li>

                            {% for islemciNesli in islemciNeslis %}
                            {% if islemciNesli == 0 %}
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                Yok
                            </li>
                            {% else %}
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                {{ islemciNesli }}
                            </li>
                            {% endif %}
                            {% endfor %}

                            
                        </ul>
                    </div>

                    <div class="row mb-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="fw-bold">Ram</p>
                            </li>
                            
                            {% for ram in rams %}
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                {{ram}} GB
                            </li>
                            {% endfor %}

                            
                        </ul>
                    </div>

                    <div class="row mb-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="fw-bold">Disk Turu</p>
                            </li>
                            
                            {% for diskTuru in diskTurus %}
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                {{ diskTuru }}
                            </li>
                            {% endfor %}

                            
                        </ul>
                    </div>

                    <div class="row mb-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="fw-bold">Ekran Boyu</p>
                            </li>
                            
                            {% for ekranBoyu in ekranBoyus %}
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                {{ ekranBoyu }}
                            </li>
                            {% endfor %}

                            
                        </ul>
                    </div>

                    <div class="row mb-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="fw-bold">Disk Boyutu</p>
                            </li>
                            
                            {% for diskBoyutu in diskBoyutus %}
                            <li class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                {{ diskBoyutu }}
                            </li>
                            {% endfor %}

                            
                        </ul>
                    </div>

                </form>


            </div>

            <!-- categoriens end -->

            <!-- products start -->

            <div class="col-sm-9">

                <!-- stats start -->
                <div class="row myPaddingForSpecialRow mb-2">

                    <div class="col-sm-4 border rounded-pill ">
                        <center>
                            <a href="{% url 'descsortprod' %}">
                            <i class="fa fa-usd" aria-hidden="true" style="color:green"></i>
                            <i class="fa fa-arrow-up" aria-hidden="true" style="color:green"></i>
                            En Yüksek Fiyat
                            </a>
                        </center>
                    </div>
                    <div class="col-sm-4 border rounded-pill">
                        <center>
                            <a href="{% url 'ascsortprod' %}">
                            <i class="fa fa-usd" aria-hidden="true" style="color:green"></i>
                            <i class="fa fa-arrow-down" aria-hidden="true" style="color:red"></i>
                            En Düşük Fiyat
                        </a>
                        </center>
                    </div>
                    <div class="col-sm-4 border rounded-pill">
                        <center>
                            <a href="{% url 'descstarprod' %}">
                            <i class="fa fa-star" aria-hidden="true" style="color:yellow"></i>
                            En Yüksek Puan
                            </a>
                        </center>
                    </div>

                </div>
                <!-- stats end -->


                <!-- laptop start -->


                <!-- include partial ile uygulama yonetşmşnş kolaylaştırıyoruz
                    pc leri ditek frame part altından çekiyoruz -->



                {% for product in products %}
                {% include 'shopping/framePart/pc.html' %}

                <hr>
                {% endfor %}

                <!-- her product direkt shopping framePart pc.html icersinde yollanır bilgiler -->

                <!-- laptop ends -->



                <!-- pagination split -->
                <div class="container">

                    <nav aria-label="...">
                        <ul class="pagination" style="margin-left:330px;">
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>

                </div>
                <!-- paginaton split end -->

            </div>

            <!-- product end -->

        </div>

</main>
<!-- main stop  -->

{% endblock %}