
<div class="col-sm-3">

    <div class="card mb-3" style="height: 35rem;">
        <img src={{p.prodImageLink}} class="card-img-top" alt="Ressim Bulunamadi" style="height: 280px; width: 100%;">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{% url 'productDetails' p.id %}" class="link-dark">
                {{p.prodTitle}}
                </a>
            </h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">
                <div class="row">
                    <div class="col">
                        Puan <p class="fw-bold">{{p.puani}}</p>
                    </div>
                    <div class="col">
                        Sepette <p class="fw-bold">{{p.fiyat}}</p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="card-body">
                <center>

                    <div class="ratings"><div class="star-w"><div class="empty"><div class="star"></div></div><div class="full" style="width: 100%; max-width: 100%;"><div class="star"></div></div></div><div class="star-w"><div class="empty"><div class="star"></div></div><div class="full" style="width: 100%; max-width: 100%;"><div class="star"></div></div></div><div class="star-w"><div class="empty"><div class="star"></div></div><div class="full" style="width: 100%; max-width: 100%;"><div class="star"></div></div></div><div class="star-w"><div class="empty"><div class="star"></div></div><div class="full" style="width: 100%; max-width: 100%;"><div class="star"></div></div></div><div class="star-w"><div class="empty"><div class="star"></div></div><div class="full" style="width: 91%; max-width: 100%;"><div class="star"></div></div></div></div>
                
                </center>
        </div>

    </div>

</div>