#main-navbar .navbar-brand {
    font-weight: 700;
}

/* navbar linklerine ozellik eklendi */

#main-navbar .navbar-nav .nav-item .nav-link.active,
#main-navbar .navbar-nav .nav-item .nav-link:hover {
    color: rgb(230, 149, 0);
}

/* form butonuna efekt eklendi */

#navbar-form #navbar-form-button:hover {
    background-color: rgb(230, 149, 0);
    color: white;
}


/* checkbutton css */
.form-check-input:checked {
    background-color: rgb(230, 149, 0);
    border-color: rgb(230, 149, 0);

    box-shadow: rgb(230, 149, 0) 0px 7px 29px 0px;
}

.form-check-input:focus {
    box-shadow: rgb(230, 149, 0) 0px 7px 29px 0px;
    border-color: rgb(230, 149, 0);
}

/* sıralaa iyi yerlessin diye yapıldı */

.myPaddingForSpecialRow {
    padding-right: 70px;
    padding-left: 70px;
}

/* pc image boyutu ayarı */
.pcImage {

    width: 100px;
    height: 100px;
}

/* urun yıldızlarını renkleri */

.starColor {
    color: yellow;
}


/* linkleri  guzellestirmek */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    
}

a:active {
    text-decoration: underline;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* searchBar */
.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: rgb(230, 149, 0);
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

