{% load static %}
<!-- static dosyaları gormesi icin -->





 <!-- main start -->
 <main>
    <div class="mt-4 mx-3">
        <div class="row">

            <!-- products start -->

            <div class="row ">
                <div class="container">
                    <center>
                    <img src={{ product.imageLink }} alt="Ressim Bulunamadı" class="pcImage img-responsive" style="width: 25%; ">
                    </center>
                </div>
            </div>





            <div class="row">
                <center>
                <h5>{{ product.prodTitle }}</h5>
                </center>
            </div>

            <hr>



            <!-- product end -->

        </div>

        <h1 class="display-6 mx-3 my-3   ">Ürün Özellikleri</h1>

        <table class="my-3">

            <div class="row  mx-3 mb-2">
                <div class="col-sm   mx-3">
                    <div class="row">
                        <div class="col-sm">
                            Marka
                        </div>
                        <div class="col-sm text-end fw-bold">
                            {{ product.marka }}
                        </div>
                    </div>
                    <hr class="sCol">
                </div>

                <div class="col-sm   mx-3">
                    <div class="row">
                        <div class="col-sm">
                            İşlemci Tipi
                        </div>
                        <div class="col-sm text-end fw-bold">
                            {{ product.islemciTipi }}
                        </div>
                    </div>
                    <hr class="sCol">
                </div>

            </div>

            <div class="row  mx-3 mb-2">
                <div class="col-sm   mx-3">
                    <div class="row">
                        <div class="col-sm">
                            Ram
                        </div>
                        <div class="col-sm text-end fw-bold">
                            {{ product.ram }}
                        </div>
                    </div>
                    <hr class="sCol">
                </div>

                <div class="col-sm   mx-3">
                    <div class="row">
                        <div class="col-sm">
                            İşlemci Nesli
                        </div>
                        <div class="col-sm text-end fw-bold">
                            {{ product.islemciNesli }}
                        </div>
                    </div>
                    <hr class="sCol">
                </div>
            </div>

            <div class="row  mx-3 mb-2">
                <div class="col-sm   mx-3">
                    <div class="row">
                        <div class="col-sm">
                            Ekran Boyutu
                        </div>
                        <div class="col-sm text-end fw-bold">
                            {{ product.ekranBoyu }}
                        </div>
                    </div>
                    <hr class="sCol">
                </div>

                <div class="col-sm   mx-3">
                    <div class="row">
                        <div class="col-sm">
                            Disk Boyutu
                        </div>
                        <div class="col-sm text-end fw-bold">
                            {{ product.diskBoyutu }}
                        </div>
                    </div>
                    <hr class="sCol">
                </div>
            </div>

            <div class="row  mx-3 mb-2">
                <div class="col-sm   mx-3">
                    <div class="row">
                        <div class="col-sm">
                            Model Adı
                        </div>
                        <div class="col-sm text-end fw-bold">
                            {{ product.modelAdi }}
                        </div>
                    </div>
                    <hr class="sCol">
                </div>

                <div class="col-sm   mx-3">
                    <div class="row">
                        <div class="col-sm">
                            Model Numarası
                        </div>
                        <div class="col-sm text-end fw-bold">
                            {{ product.modelNo }}
                        </div>
                    </div>
                    <hr class="sCol">
                </div>
            </div>

            <div class="row  mx-3 mb-2">
                <div class="col-sm   mx-3">
                    <div class="row">
                        <div class="col-sm">
                            İşletim Sistemi
                        </div>
                        <div class="col-sm text-end fw-bold">
                            {{ product.isletimSistemi }}
                        </div>
                    </div>
                    <hr class="sCol">
                </div>

                <div class="col-sm   mx-3">
                    <div class="row">
                        <div class="col-sm">
                            Disk Türü
                        </div>
                        <div class="col-sm text-end fw-bold">
                            {{ product.diskTuru }}
                        </div>
                    </div>
                    <hr class="sCol">
                </div>
            </div>

        </table>

</main>
<!-- main end -->