{% load static %}
<!-- static dosyaları gormesi icin -->


<div class="row mb-2">
    <div class="col-sm-4 ">

        <img src="{% static 'shopping/img/pc.png' %}" alt="Ressim Bulunamadı" class="pcImage img-responsive">

    </div>


    <div class="col-sm-8 ">

        <div class="row">

            <h5>
                <a href="{% url 'productDetails' 1 %}" class="link-dark">
                    <!-- gidecegi yolu verdik ayriyetten parametre alıyor onu 3. olarak ekliyoruz -->
                Lenovo V14 G2 ITL Intel Core i5 1135G7 8GB 256GB SSD MX350 Freedos 14" FHD
                Taşınabilir Bilgisayar 82KA00ECTX
                </a>
            </h5>

        </div>

        <hr>

        <div class="row">

            <!-- para falan yazılan yer -->
            <div class="col-sm ">
                <p class="fw-bold text-center">10.399,00 TL</p>

                <div class="row">
                    <div class="col-sm-8 ">

                        <i class="fa fa-star starColor" aria-hidden="true"></i>
                        <i class="fa fa-star starColor" aria-hidden="true"></i>
                        <i class="fa fa-star starColor" aria-hidden="true"></i>
                        <i class="fa fa-star starColor" aria-hidden="true"></i>

                    </div>

                    <div class="col-sm-4">
                        <p class="fw-bold">4</p>
                    </div>


                </div>
            </div>



            <!-- para falan yazılan yer -->
            <div class="col-sm ">
                <p class="fw-bold text-center">10.399,00 TL</p>

                <div class="row">
                    <div class="col-sm-8 ">

                        <i class="fa fa-star starColor" aria-hidden="true"></i>
                        <i class="fa fa-star starColor" aria-hidden="true"></i>
                        <i class="fa fa-star starColor" aria-hidden="true"></i>
                        <i class="fa fa-star starColor" aria-hidden="true"></i>

                    </div>

                    <div class="col-sm-4 ">
                        <p class="fw-bold ">4</p>

                    </div>



                </div>
            </div>

            <!-- para falan yazılan yer -->
            <div class="col-sm ">
                <p class="fw-bold text-center">10.399,00 TL</p>

                <div class="row">
                    <div class="col-sm-8 ">

                        <i class="fa fa-star starColor" aria-hidden="true"></i>
                        <i class="fa fa-star starColor" aria-hidden="true"></i>
                        <i class="fa fa-star starColor" aria-hidden="true"></i>
                        <i class="fa fa-star starColor" aria-hidden="true"></i>

                    </div>

                    <div class="col-sm-4 ">
                        <p class="fw-bold ">4</p>
                    </div>

                </div>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-sm ">
                <a href="#">
                    <center>
                        <img src="{% static 'shopping/img/n11.png' %}" alt="Ressim Bulunamadı" width="100" height="60">
                    </center>
                </a>
            </div>

            <div class="col-sm ">

                <a href="#">
                    <center>
                        <img src="{% static 'shopping/img/n11.png' %}" alt="Ressim Bulunamadı" width="100" height="60">
                    </center>
                </a>

            </div>

            <div class="col-sm ">

                <a href="#">
                    <center>
                        <img src="{% static 'shopping/img/n11.png' %}" alt="Ressim Bulunamadı" width="100" height="60">
                    </center>
                </a>

            </div>

        </div>

    </div>




</div>
