{% extends "base.html" %}
{% load static %}

{% block title%} Homepage {% endblock%}

{%block main%}

<main>
    <div class="mt-4 mx-3">
        <div class="row">

            <!-- categories start -->
            <div class="col-sm-2">

                <div class="row mb-4 ">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="fw-bold">Marka</p>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Asus
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Monster
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Apple
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Lenovo
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            Dell
                        </li>
                    </ul>
                </div>

                <div class="row mb-4">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="fw-bold">İşlemci</p>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            i3
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            i5
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            i7
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            i9
                        </li>
                    </ul>
                </div>

                <div class="row mb-4">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="fw-bold">Ram</p>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            2GB
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            4GB
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            8GB
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            16GB
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            32GB
                        </li>
                    </ul>
                </div>

                <div class="row mb-4">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="fw-bold">Ekran Boyutu</p>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            12
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            13.6
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            14.5
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            16.7
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                            20
                        </li>
                    </ul>
                </div>

            </div>
            <!-- categoriens end -->

            
            <div class="col-sm-10">

                <!-- stat start -->
                <div class="row mb-2">

                    <div class="col-sm-4 border rounded-pill ">
                        <center>
                            <i class="fa fa-usd" aria-hidden="true" style="color:green"></i>
                            <i class="fa fa-arrow-up" aria-hidden="true" style="color:green"></i>
                            <a href="{% url 'SortprodDesc' %}" style="color: black">
                            En Yüksek Fiyat
                            </a>
                        </center>
                    </div>
                    <div class="col-sm-4 border rounded-pill">
                        <center>
                            <i class="fa fa-usd" aria-hidden="true" style="color:green"></i>
                            <i class="fa fa-arrow-down" aria-hidden="true" style="color:red"></i>
                            <a href="{% url 'SortprodAsc' %}" style="color: black">
                            En Düşük Fiyat
                        </a>
                        </center>
                    </div>
                    <div class="col-sm-4 border rounded-pill">
                        <center>
                            <i class="fa fa-star" aria-hidden="true" style="color: yellow"></i>
                            <a href="{% url 'SortprodStar' %}" style="color: black">
                            En Yüksek Puan
                        </a>
                        </center>
                    </div>

                </div>
                <!-- stat end -->

                <!-- products start -->
                <!-- pc start -->
                <div class="row mb-2">


                    {% for p in prods%}
                  
                    {% include 'ecommerce/partials/_pc.html' %}

                    {% endfor %}

                </div>

                <!-- Pc end -->                   
                <!-- product end -->



                <!-- pagination split -->
                                       
                    <div class="container">

                        <nav aria-label="...">
                            <ul class="pagination" style="margin-left:330px;">
                                <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                               
                <!-- paginaton split end -->
            </div>


{% endblock%}